<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col">ID</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Bukti</th>
                    </tr>
                </thead>
                <tbody>
                  <% data.forEach(element => { %>
                   <tr>
                    <td><%- element.id %></td>
                    <td><%- element.nama %></td>
                    <td><%- element.bukti %></td>
                   </tr>
                  <% }) %>
                </tbody>
            </table>
        </div>
    </div>
  </div>